<header>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">OYMAK GROUP</h1>
            <p class="lead">MARS ROVER WEB APP</p>
        </div>
    </div>
</header>